$width: 400px;

#root .root-page {
  .search {
    display: block;
    max-width: $width;
    width: 100%;
    margin: 20px auto;
    padding: 10px 15px;
    box-sizing: border-box;
  }

  .empty {
    text-align: center;
    padding: 30px 0;
  }
}
