$width: 400px;
$nest-padding: 20px;

#root .root-page .tree-view {
  max-width: $width;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: $nest-padding;

    &:not(.expanded) {
      display: none;
    }
  }

  .node, .root {
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 5px;
    transition: background 100ms;
    display: flex;
    align-items: center;

    &.clickable {
      cursor: pointer;

      &:hover {
        background: #d9d9d9;
      }
    }

    &:not(.clickable) {
      background: #f8f8f8;
    }

    &.match, &.match:not(.clickable) {
      background: #ffffcd;
    }

    .name {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 20px;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    .size {
      color: grey;
      flex-shrink: 0;
      font-size: 0.8em;
    }
  }

  li:last-child .node {
    border-bottom: 0;
  }
}
